* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 20px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
}

img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 7px;
}

p {
  display: flex;
  align-items: center;
}

b {
  margin-right: 4px;
}

.country-list {
  padding: 0;
}

.name {
  font-size: 20px;
}